.bg {
    background: url("/images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.entry {
  max-width: 300px;
  margin: 50px auto;
  padding: 2rem;
}
.entry-title {
  font-family: 'Open Sans' , sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #3E588F;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

input, select, textarea {
  width: 100%;
  margin: 0;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #3E588F;
}
button {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #3E588F;
  color: white;
}
button: hover {
  transition: background-color 0.5s ease;
  background-color: white;
  color: #3E588F;
}

.AppearTransition-appear {
  opacity: 0.01;
  transform: translateY(80px);
}
.AppearTransition-appear.AppearTransition-appear-active{
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-out;
}

.display-info {
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
}
.info-title {
  font-family: 'Open Sans' , sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #3E588F;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}
li {
    list-style-type: none;
}
p {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #3E588F;
}
.likeNum {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  background: 0;
  color: #3E588F;
}




