// Import all partials
@require './_*.styl'


header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;

  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px

ul
  list-style none
  margin 0
  padding 0

ul.order
  // Default state
  li
    border-bottom 1px solid black
    padding 2rem 0
    display flex
    font-size 1.4rem
    justify-content space-between
    align-items center
    &:hover
      // padding 1rem 0
      button
        display inline
    button
      border 0
      display none
      line-height 1
      padding 0
    &.total
      font-weight 600
      border-bottom 3px solid black
      border-top 3px double black
    &.unavailable
      text-decoration line-through
      background lighten(red, 80%)
    .price
      font-size 1.2rem
    span.count
      position relative
      overflow hidden
      float left // only works if it's floated?!
      span
        display inline-block
        // transition all 0.5s

button, input[type=submit]
  text-transform uppercase
  background none
  border 1px solid black
  font-weight 600
  font-size 1.5rem
  font-family 'Open Sans'
  transition all 0.2s
  position relative
  z-index 2
  &[disabled]
    color red
    background white
    border-color red
    transform rotate(-10deg) scale(2) translateX(50%) translateY(-50%)
    &:hover
      color red
      cursor not-allowed
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    background black
    position absolute
    width 100%
    height 0
    left 0
    top 0
    transition all 0.2s
  &:hover, &:focus
    color white
    outline 0
    &:after
      height 100%
  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green

.bg
  background url('/images/bg.jpg')
  background-attachment fixed
  background-position center
  background-size cover


.entry
  max-width 300px
  margin 50px auto
  padding 2rem

.entry-title 
  font-family 'Open Sans' , sans-serif
  font-size 30px
  font-weight 600
  text-align center
  color #3E588F
  margin-top 5%
  text-transform uppercase
  letter-spacing 4px


input, select, textarea 
  width 100%
  margin 0
  background 0
  border 0
  border-bottom 1px solid #FFFFFF
  font-style italic
  font-size 14px
  font-weight 400
  letter-spacing 1px
  margin-bottom 5px
  color #3E588F

button 
  width 100%
  font-size 16px
  text-transform uppercase
  font-weight 500
  margin-top 16px
  cursor pointer
  letter-spacing 1px
  background-color #3E588F
  color white
  border-radius 5px
  font-family 'Open Sans' , sans-serif

button hover 
  transition background-color 0.5s ease
  background-color white
  color #3E588F

.formbutton
  width 50%
  left 20%
  margin 5px 

.AppearTransition-appear 
  opacity 0.01
  transform translateY(80px)

.AppearTransition-appear.AppearTransition-appear-active
  opacity 1
  transform translateY(0px)
  transition all 1s ease-out


.display-info 
  max-width 70%
  margin 50px auto
  padding 2rem

.info-title 
  font-family 'Open Sans' , sans-serif
  font-size 30px
  font-weight 600
  text-align center
  color #3E588F
  margin-top 5%
  text-transform uppercase
  letter-spacing 4px

li 
  list-style-type none

p
  width 100%
  margin 0
  padding 5px 10px
  background 0
  border 0
  font-size 16px
  font-weight 400
  letter-spacing 1px
  margin-bottom 5px
  color #3E588F
input, textarea, select
  border-bottom 1px solid #3e588f

.likeNum 
  width 100%
  font-size 16px
  text-transform uppercase
  font-weight 500
  margin-top 16px
  cursor pointer
  letter-spacing 1px
  background 0
  color #3E588F

.logout 
  width 10%
  font-size 16px
  text-transform uppercase
  font-weight 500
  margin-top 16px
  cursor pointer
  letter-spacing 1px
  background 0
  color #3e588f

.display-content-container
  background-color white
  margin-bottom 30px
  border-top 60px solid #3e588f
  border-bottom 30px solid #3e588f
  opacity 0.9

.edit-content-container
  opacity 0.7
  width 80%
  background-color white
  margin 50px auto
  border 2px solid #3e588f
  border-radius 15px

.info
  margin-right 20px
.likeButton
  background #3e588f
  width 5%
  border 0
  decoration none
.displayRow
  border-bottom 1px solid #C0C5CD
  padding-bottom .25rem
  margin-bottom 1rem
  font-style italic
  font-size 2rem
.right
  left 50%

